<configuration>
    <inputPath>./example/</inputPath>
    <outputPath>./output/</outputPath>
    <allowedExtensions>
        <extension>.in</extension>
        <extension>.txt</extension>
    </allowedExtensions>
    <targetSpecificLevel>1</targetSpecificLevel>
    <isDebug>true</isDebug>
</configuration>
